.food-item{
    width: 230px;
    height: 240px;
    margin: 30px;
    padding: 20px;
    background-color: rgba(228, 228, 235, 0.486);
    border-radius: 10px;    
    align-content: center;
    align-items: center;
}

.space-for{
    margin: 5px;
    padding: 10px;
    align-content: center;
}

.space-price{
    margin: 5px;
    padding: 5px;
    align-content: center;
    font-size: 0.6em;
}
.mainGrid{
    display: inline-flex;
    /* flex-direction: column; */
    flex-flow: row;
    align-content: space-around;
    justify-content:flex-start;
    flex-wrap: wrap ;
    
}

.food-list-cards{
    list-style: none;
}
.order-list-item{
    margin: 5px;
    padding: 4px;
    align-content: center;
}

.food-Order-cart{
    width: 300px;
  
    margin: 30px;
    padding: 20px;
    background-color: rgba(228, 228, 235, 0.486);
    border-radius: 10px;    
    align-content: center;
    align-items: center;
}
.OrderListTitle{
    color: darkcyan;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#remove{
    margin: 0;
}
#remove:hover{
    color: blue;
}
